


@media (min-width:375px){
    
    body {
        
        background: #1C1A19;
        color: white;
    }

    /* HEADER AND CELLPHONE ICONS */

    .phone-box {
        height: 44px;
        background-color: #3C3A39;
        display:flex;
        justify-content: space-between;
        
        
    }

    .nav-header{
        height: 44px;
        background-color: #3C3A39;
        display:flex;
        justify-content: space-between;
    }
    
    .time {
        padding-top: 16px;
        padding-left: 21px;
        
    }

    .cell-info {
        padding-top: 17px;
        padding-left: 14,67px;
        
    }


    .logo {
        width: 70px;
        height: 24px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;

        flex: none;
        order: 0;
        flex-grow: 0;

        padding-left: 16px;
        padding-top: 10px;
    }

    

    .menu {
        padding-right: 32px;
        padding-top: 10px;
    }
   
    h1 {
        width: 327px;
        height: 124px;


        font-family: 'Crete Round';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 0.37px;
        color: #FF6B00;
        flex: none;
        order: 0;
        flex-grow: 0;

        padding-top: 132px;

        margin-bottom: 0px;
    }

    h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;

        display: flex;
        align-items: center;

        color: #FFF5E1;


        flex: none;
        order: 1;
        flex-grow: 0;
        
    }

}

@media (min-width:768px){
    body {
        display: none;
    }
}
